<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery
	galleryCaption="Juicebox-Pro Gallery"
>
  <image imageURL="../images/portraits/suarez.jpg"
	thumbURL="../images/portraits/thumbs/The Producers.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
   	<caption>Caption 1 Caption 1 Caption 1 Caption 1 Caption 1</caption>
  </image>
  <image imageURL="../images/portraits/lionking.jpg"
	thumbURL="../images/portraits/thumbs/Andile Gumbi - Lion King.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption>Caption 2</caption>
  </image>
  <image imageURL="../images/portraits/suarez.jpg"
	thumbURL="../images/portraits/thumbs/Dane Hurst and Camille Bracher - Inala.jpg"
	linkURL="../images/wide.jpg"
	linkTarget="_blank">
	<title></title>
    <caption>Caption 3</caption>
  </image>
  <image imageURL="../images/portraits/equus.jpg"
	thumbURL="../images/portraits/thumbs/Equus.jpg"
	linkURL="#"
	linkTarget="_blank">
	<title></title>
    <caption>Caption 4</caption>
  </image>
  <image imageURL="../images/portraits/suarez.jpg"
	thumbURL="../images/portraits/thumbs/Gemma Arterton - Nell Gwynn.jpg"
	linkURL="../images/wide.jpg"
	linkTarget="_blank">
	<title></title>
    <caption>Caption 5</caption>
  </image>
  <image imageURL="../images/portraits/hug.jpg"
	thumbURL="../images/portraits/thumbs/Harry Melling.jpg"
	linkURL="#"
	linkTarget="_blank">
	<title></title>
	<caption>Caption 6</caption>
  </image>
  <image imageURL="images/portraits/suarez.jpg"
	thumbURL="images/portraits/thumbs/Henry Goodman - Looking at Lucian.jpg"
	linkURL="images/wide.jpg"
	linkTarget="_blank">
	<title></title>
	<caption>Caption 7</caption>
  </image>
  <image imageURL="images/portraits/cross.jpg"
	thumbURL="images/portraits/thumbs/Heroes-and-Bonnie-2.jpg"
	linkURL="images/tall.jpg"
	linkTarget="_blank">
	<title></title>
    <caption>Caption 8</caption>
  </image>
  <image imageURL="images/portraits/suarez.jpg"
	thumbURL="images/portraits/thumbs/John Simm.jpg"
	linkURL="images/wide.jpg"
	linkTarget="_blank">
	<title></title>
    <caption>Caption 9</caption>
  </image>
   <image imageURL="images/portraits/ella.jpg"
	thumbURL="images/portraits/thumbs/Katherine Parkinson Steve Pemberton Ralf Little Emily Berrington and Rufus Jones - Dead Funny.jpg"
	linkURL="images/tall.jpg"
	linkTarget="_blank">
	<title></title>
    <caption>Caption 10</caption>
  </image>
 <image imageURL="images/portraits/suarez.jpg"
	thumbURL="images/portraits/thumbs/Kelly Osbourne - Chicago.jpg"
	linkURL="images/wide.jpg"
	linkTarget="_blank">
	<title></title>
    <caption>Caption 11</caption>
  </image>
  <image imageURL="images/portraits/wide.jpg"
	thumbURL="images/portraits/thumbs/Laurence Fox - The Real Thing.jpg"
	linkURL="images/tall.jpg"
	linkTarget="_blank">
	<title></title>
    <caption>Caption 12</caption>
  </image>
</juiceboxgallery>